include README.md
include README_PACKAGE.md
include LICENSE
include requirements.txt
include requirements_dev.txt
recursive-include src/poweruser_xpcs *.py
recursive-include src/poweruser_xpcs *.hdf
recursive-include src/poweruser_xpcs *.json
recursive-include src/poweruser_xpcs *.sh
recursive-include src/poweruser_xpcs *.txt
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
